*.egg-info/
*.pyc
.DS_Store
.tox/
BrawlAssets/
__pycache__/
_raw/
_raw_assets/
_cdn_brawlers/
_debug/
cdn_brawlers/
contact_sheets/
download/*.zip
previews
previews/
thumbs.db
_fankit_search.json
_fankit_data/
